#resume{
	margin-top: 25px;
	font-family: 'Lato', sans-serif;
	color: #000000;
}

#resume h1{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 42px;
}

#resume h2{ 
	font-size: 24px; 
	font-weight: 700; 
	margin: 0; 
	text-transform: uppercase; 
}

#resume h3{ 
	font-size: 18px; 
	font-weight: 400; 
	margin: 8px 0 5px; 
	line-height: 1.25em;
}

#resume h4{ 
	font-size: 16px; 
	font-weight: 300; 
	font-style: italic; 
	margin-bottom: 8px;
}

#resume h5{ 
	font-size: 16px; 
	font-weight: 300; 
	font-style: italic; 
	margin-bottom: 8px;
}

aside h2{
	margin-top: 20px;
}

#resume h6{ 
	text-align: right;
	font-size: 12px; 
	margin-top: -25px;
}

#resume p{ 
	line-height: 1.5em; 
	margin:0 0 5px; 
	font-size: 15px;
}

#resume a{ 
	color: #000000; 
	text-decoration: none;
}

#resume  a:hover{ 
	text-decoration: underline;
	color: #aaec43;
}

#resume img{ 
	width: 150px;
	margin-top: 20px;
	margin-right: 20px;
}

/***********************************************
************  STRUCTURAL ELEMENTS  *************
************************************************/
body > section{ 
	background-color: #fff; 
	max-width: 740px; 
	padding: 20px 25px; 
	margin: 0 auto 15px;
}

#logo{ 
	display: block; 
	margin: 0 auto 50px; 
	max-height: 100px;
}

#contact-info{ 
	text-align: right;
}

#contact-info p{ 
	font-size: 14px; 
	margin-bottom: 8px;
}

article{ 
	margin-bottom: 20px;
}

.job-daterange{ 
	font-size: 18px; 
	color: #000000;
	line-height: 1.5em;
}

dl{ 
	margin-bottom: 15px;
}

dt{ 
	font-size: 21px; 
	color: #000000; 
	margin: 15px 0 8px;
}

dd{ 
	margin-bottom: 6px; 
	font-weight: 300; 
	font-size: 14px;
	margin: 0;
	padding: 0 0 0.5em 0;
}

dd:before{
	content: "\00bb";
	margin-right: 4px;
}

footer{ 
	clear: both; 
	padding: 10px 0; 
	margin-top: 40px; 
}

body{ 
	padding: 1px 0px;
}

table{
	margin: auto;
	width: 360px;
}

.redButton{
		width: 100%;
}

td{
	float: center;
}

/***********************************************
*************** MEDIA QUERIES  *****************
************************************************/
@media screen and (min-width: 480px){

}

@media screen and (min-width: 600px){
	#resume h1{
		margin-top: 0px;
		font-size: 54px;
	}
	body > section{ 
		padding: 40px 50px;
	}
	
	dl{ 
		width: 33%; 
		float: left; 
		margin-bottom: 20px;
	}
	#resume img{ 
		width: 200px;
		margin-top: 20px;
		margin-right: 20px;
	}
	aside{ 
		margin-top: 20px;
		float: left; 
		width: 100%;
	}
}

@media screen and (min-width: 800px){
	#contact-info{ 
		float: right; 
		width: 30%; 
		text-align: right;
		margin-top: 7px;
	}

	#education{
		margin-top: -20px;
	}
	
	body > section section{ 
		width: 63.513514%; 
		float: left; 
		clear: left;
	}
	
	aside{ 
		margin-top: 20px;
		float: right; 
		width: 30%;
	}
	
	dl{ 
		width: auto; 
		float: none; 
		margin-bottom: 0;
	}
	
	dd{ 
		font-size: 16px;
	}
	
	footer{ 
		text-align: right;
	}
}








