body{
  margin: 0;
  padding: 0;
}
.c {
  padding: 1em;
  color: black;
  height: 100%;
  min-height: 100%;
  margin: auto;
}
.main {
  background: #F0FFF0;
  padding: 0px 10px;
  border-radius: 10px;
  margin-top: 50px;
}
.sb {
  background: #F0FFF0;
  padding: 0px 10px;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 5px;
}

h2{
  padding-top: 10px;
  font-size: 18px;
}

h3 {
  padding-top: 10px;
}

@media screen and (min-width: 800px) {
  .main {
    width: 60%;
    padding-right: 1em;
    float: left; 
  }
  .sb {
    float: left;
    margin-left: 10px;
    width: 30%;
    margin-top: 50px;
  }
  h2 {
    font-size: 26px;
  }
}

#pattern{
  height: 100%;
  min-height: 100%;
}

#break{
  clear: both;
  height: 10px;
}

#foot{
  clear: both;
}







