{% extends 'layouts/main.html' %}
{% block title %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="../../static/css/home.css">
<link rel="stylesheet" href="static/css/home.css">
{% endblock %}
{% block content %}

<h1>Jeremy Hintz</h1>

<h3>I'm a Computer Science student at The University of Texas at Austin.</h3>
<h3>I believe in solving problems with technology.</h3>

<!-- <table>
    <tr>
        <td><a href="projects.html" target="_blank" class="redButton"><p>See My Work</p></a></td>
    </tr>
</table> -->

{% endblock %}
