{% extends 'layouts/main.html' %}
{% block title %} - About{% endblock %}
{% block prependedstyle %}
<link rel="stylesheet" href="../../static/css/projects.css">
{% endblock %}
{% block extrastyle %}

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type='text/javascript' src='../../static/js/jjhintz_jquery.js'></script>
<script type='text/javascript' src='../../static/js/libs/jquery.mixItUp.js'></script>

<script type="text/javascript">
  $(function(){
    $('#Container').mixItUp();
  });
</script>
{% endblock %}
{% block content %}
</br>
</br>
</br>
<div class="controls"></div>
<div id="Container" class="container">
  <!-- IPHONE 6 -->
  <a target="_blank" href="http://thepu.sh/trends/apple-blows-minds-iphone-6-6-plus-apple-watch/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Everything You Need to Know About the iPhone 6, 6 Plus, and Watch"><img src="../../static/img/publications/iphone6-push.jpg"></div></a>

  <!-- FIT AND HEALTHKIT -->
  <a target="_blank" href="http://thepu.sh/trends/healthkit-vs-google-fit-will-keep-heart-ticking/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Google Fit vs HealthKit: who will keep your heart ticking?"><img src="../../static/img/publications/google-fit-healthkit-push.png"></div></a>

  <!-- APPLE AND IBM -->
  <a target="_blank" href="http://thepu.sh/platforms/apple-and-ibm/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Apple and IBM: Tech Frenemies"><img src="../../static/img/publications/ibm-apple-push.png"></div></a>

  <!-- APPLE ENTERPRISE -->
  <a target="_blank" href="http://thepu.sh/trends/apple-enterprise-boss/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Apple Enterprise is Boss"><img src="../../static/img/publications/apple-enterprise-apple.png"></div></a>

  <!-- SMART WEARABLES -->
  <a target="_blank" href="http://thepu.sh/trends/thinking-predictive-wearables-thinking/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Are You Thinking What Your Predictive Wearables Are Thinking?"><img src="../../static/img/publications/smart-wearables.png"></div></a>

  <!-- GEOLOCATION -->
  <a target="_blank" href="http://thepu.sh/trends/geolocation-stay/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Geolocation is Here to Stay"><img src="../../static/img/publications/geolocation-push.png"></div></a>

  <!-- TECH HOTBED -->
  <a target="_blank" href="http://thepu.sh/trends/make-tech-hotbed/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="How to Make a Tech Hotbed"><img src="../../static/img/publications/tech-hotbed-push.png"></div></a>

  <!-- EXTREME WEARABLES -->
  <a target="_blank" href="http://thepu.sh/trends/wearables-for-extreme-sports/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="EXTREME Wearables"><img src="../../static/img/publications/extreme-wearables-push.png"></div></a>

  <!-- EXTREME WEARABLES -->
  <a target="_blank" href="http://thepu.sh/trends/weather-technology/"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Weather technology goes way beyond umbrellas"><img src="../../static/img/publications/weather-tech-push.png"></div></a>

  <!-- TWITTER IPO -->
  <a target="_blank" href="http://www.dailytexanonline.com/life-and-arts/2013/11/05/weekly-tech-round-up-twitter-ipo-and-secret-google-barges"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Twitter IPO Breakdown and Secret Google Barges"><img src="../../static/img/publications/twitter-ipo.png"></div></a>

  <!-- GOOGLE GLASS AND BIGGER IPHONES -->
  <a target="_blank" href="http://www.dailytexanonline.com/life-and-arts/2013/11/12/tabs-on-tech-google-glass-and-bigger-iphone"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Google Glass and Bigger iPhones"><img src="../../static/img/publications/AP_GoogleGlasses.jpg"></div></a>

  <!-- GOOGLE GLASS AND BIGGER IPHONES -->
  <a target="_blank" href="http://www.dailytexanonline.com/life-and-arts/2013/10/09/startup-crawl-is-fall-answer-to-sxsw-interactive"><div class="mix ios nonacademic" data-dateorder="1" data-myorder="Austin Startup Week"><img src="../../static/img/publications/StartupCrawl.jpg"></div></a>

</div>
<div class="gap"></div>
<div class="gap"></div>

{% endblock %}

{% block extrascripts %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type='text/javascript' src='../../static/js/jjhintz_jquery.js'></script>
<script type='text/javascript' src='../../static/js/libs/jquery.mixItUp.js'></script>
{% endblock %}
