html {
  	min-height: 100%;
  	background-size: cover;
  	background-image: url(../img/background_images/home/macbook_w_code_and_geometric_low.png);
  	background-repeat: no-repeat;
  	background-position: center top;
}

h1 {
	margin-top: 150px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 5px;
}

h3 {
	color: white;
	text-align: center;
}

@media screen and (min-width: 512px) {
	html {
		background-image: url(../img/background_images/home/macbook_w_code_and_geometric_med.png);
	}
}

@media screen and (min-width: 800px) {
	html {
		background-image: url(../img/background_images/home/macbook_w_code_and_geometric_full.png);
	}

  	h1 {
		margin-top: 225px;
		font-size: 54px;
	}
}